<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="97030773-7412-4b6b-ab07-0276d5224559" Alias="dictionaryTest" Level="1">
  <Info>
    <Name>#DocumentType_Label</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This "#DocumentType_Label" is made to test dictionary items</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="97030773-7412-4b6b-ab07-0276d5224559" SortOrder="0">dictionaryTest</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>22fab6df-df77-467a-a682-59feb5ee72c3</Key>
      <Name>#DocumentType_Button</Name>
      <Alias>documentTypeButton</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This button has a color of "{#DocumentType_Button.Color}" (should say "Primary")

Is also works with underscores "{#DocumentType_Button_Color}" (should say "Primary with underscores")

Also verify that a normal UFM translation works: "{#general_ok}" (should say OK)

Also test markdown in itself:
**Bold**
_Underscore_
#### Headline]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b6280fee-29ee-49a2-a1d9-8a8149d146c7</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>