<?xml version="1.0" encoding="utf-8"?>
<Content Key="01e599d0-f323-4b8f-8fb6-01914c4ebc69" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>dictionaryTest</ContentType>
    <CreateDate>2025-12-05T19:56:10</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <documentTypeButton>
      <Value><![CDATA[]]></Value>
    </documentTypeButton>
  </Properties>
</Content>