name: Release Package

# This action will start when a correctly formatted tag is pushed (e.g. 0.1.0)

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 10.x

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.x
          cache: npm

      - name: Install dependencies
        run: npm install
        working-directory: src/Lexicon/Client

      - name: Build client project
        run: npm run build
        working-directory: src/Lexicon/Client

      - name: Build & Pack server project
        run: dotnet pack src/Lexicon/Lexicon.csproj -c Release /p:Version=${{github.ref_name}}

      - name: Push to NuGet
        run: dotnet nuget push **/*.nupkg -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json
