name: Test Package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 10.x

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.x
          cache: npm

      - name: Install dependencies
        run: npm install
        working-directory: src/Lexicon/Client

      - name: Build client project
        run: npm run build
        working-directory: src/Lexicon/Client

      - name: Build server project
        run: dotnet build src/Lexicon/Lexicon.csproj -c Release
